<h1>Create a New Song</h1>
<%= form_for @song do |f| %>
   <%= f.label :name %>
   <%= f.text_field :name %>

   <%= f.label :artists %>
   <%= f.collection_select :artist_id, @artists, :id, :name %>

    <%= f.label :instruments %>  
   <%= f.collection_select :instrument_id, @instruments, :id, :name %>
<%= f.submit %>
<% end %>